<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto - resepti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${annos.nimi}">annosnimi</h1>

        <p>Annoksen raaka-aineet ja ohjeet: </p>
        
        <ol>
            <li th:each="yhteys : ${yhteydet}">
                <span th:text="${yhteys.raakaAine.nimi}">raakaAine</span>
                <span th:text="${yhteys.maara}">maara</span>
                <span th:text="${yhteys.ohje}">ohje</span>
            </li>
        </ol>
        
        
        
        
        <h2>Kartuta annoksen raaka-aineita ja ohjeita: </h2>
        <form method="POST" th:action="@{~/annos/{id}(id=${annos.id})}">
            Raaka-aineen nimi:<br/>
            <select name="ainesId">
                <option th:each="aines : ${ainekset}" th:value="${aines.id}" th:text="${aines.nimi}">
                </option>
            </select>
            <br/>
            <span>Paljonko raaka-ainetta tulee:</span><br/>
            <input type="text" name="maara"/><br/>
            <span>Valmistusohje:</span><br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Laajenna reseptin raaka-aineita ja ohjeita"/>
        </form>
        
        
        
        <ul>
            <li><a th:href="@{~/annokset.html}">
                    Annossivulle
                </a>
            </li>
            <li><a th:href="@{~/index.html}">
                    Aloitussivulle
                </a>
            </li>
        </ul>
    </body>
</html>
